<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/zc.css" media="all">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


</head>
<body>

<div class="main" id="app">
    <label class="title">好好学习，天天向上</label>
    <div class="col-md6">
        <form action="" method="">
            <label class="">姓名</label>
            <input type="text" v-model="name" class="name"/>
            <br>
            <label>性别</label>
            <input type="radio" value="女" v-model="sex"/>女
            <input type="radio" value="男" v-model="sex"/>男
            <br>
            <label>兴趣</label><br>
            <select v-model="h" class="name">
                <option v-for="hy in hobby" v-bind:value="hy.value">{{hy.text}}</option>

            </select>
            <br>
            <label>位置</label><br>
            <select v-model="a" class="name">
                <option v-for="ab in address" v-bind:value="ab.value">{{ab.text}}</option>
            </select>
            <br>
            <input type="checkbox" v-model="ok"/>我已阅读并同意协议
            <br>
            <input type="reset" value="取消" class="cancle"/>
            <button type="button" @click="isok" class="rigs">注册</button>

        </form>
    </div>

    <div class="col-md6 bottom">
        <h2>姓名：{{name}}</h2>
        <h2>性别：{{sex}}</h2>
        <h2>地址：{{a}}</h2>
        <h2>爱好：{{h}}</h2>

    </div>

</div>

</div>
<script>

    var app = new Vue({
        el: '#app',
        data: {
            name: '',
            sex: '',
            h: '打球',
            hobby: [
                {text: '打球', value: '打球'},
                {text: '上网', value: '上网'},
                {text: '旅游', value: '旅游'},
                {text: '看电影', value: '看电影'}
            ],
            a: '南京',
            address: [
                {text: '南京', value: '南京'},
                {text: '佛山', value: '佛山'},
                {text: '青海', value: '青海'},
                {text: '南宁', value: '南宁'}
            ],
            ok: false
        },
        methods: {
            isok: function () {
                if (this.ok) {
                    alert("欢迎光临，" + this.name + "，您已注册成功");
                }
            }
        }
    })
</script>
</body>
</html>
